#menu{
    background-color:lemonchiffon;
}

#book{
    background-color:lavender;
}

#gallery{
    background-color:rgb(174, 219, 248);
}

#about{
    background-color:lavender;
}

#contact{
    background-color: rgb(248, 234, 234);
}

/* Menu components */
.menu-link{
    color:grey;
}

.menu-link:hover{
    color:white;
    border-radius: 0;
}

.menu-tabs .menu-link.active{
    background-color:white;
    border-radius: 0;
}